/* Global Styles */

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url('./images/matrixblue.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #011C5C;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  color: #0077ff;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navigation */

nav {
  display: flex;
  margin: auto;
  background-color: #2A9B93;
  height: 60px;
  z-index: 2;
  border-bottom: 2px solid #fff;
  border-radius: 5px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between; /* evenly distribute child elements */
  width: 100%; /* make sure the child elements fill the full width */
  padding: 0;
  margin: 0;
  list-style: none;
}

nav img {
  margin-right: 20px;
  margin-left: 40px;
}

nav li {
  margin-left: auto;
  margin-right: auto;
}

nav a {
  display: block;
  padding: 0 10px;
  height: 100%;
  line-height: 60px;
  color: #fff;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in-out;
}

nav a:hover {
  color: #0049ff;
}

/* Header */

header {
  text-align: center;
  padding: 50px 0;
  color: #fff;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

header button {
  padding: 10px 20px;
  background-color: #2A9B93;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in-out;
}

header button:hover {
  background-color: #fff;
  color: #2A9B93;
}

/* About */

#about {
  text-align: center;
  padding: 100px 0;
  color: #fff;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

#about p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2rem;
}

/* Skills */

#skills {
  text-align: center;
  padding: 100px 0;
  color: #fff;
}

#skills li:hover {
  background-color: #0055cc;
}

#skills h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

#skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  padding-left: 10px;
  margin: 0 auto;
}

#skills li {
  margin: 0 20px 20px 20px;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #2A9B93;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

/* Projects */

#projects {
  text-align: center;
  padding: 100px 0;
  color: #fff;
}

#projects h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.project {
  display: inline-block;
  position: relative;
  max-width: 350px;
  margin: 0 120px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 5px;
}

.project:hover {
  transform: translateY(-10px);
}

.project img {
  display: block;
  width: 100%;
  height: 200px;
  transition: transform 0.3s ease-in-out;
  width: calc(100% - 10px); /* account for 5px border on each side */
  border: 5px solid #2A9B93;
}

.project h3 {
  margin: 0 0 -10px 0;
  font-size: 1.7rem;
  font-weight: normal;
  color: white;
  line-height: 1.6;
}

.project p {
  margin: 10px;
  font-size: 1.2rem;
}

.project a {
  display: block;
  padding: 1px;
  background-color: #2A9B93;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.project a:hover {
  background-color: #0055cc;
}

/* Proj Title */

.project-title {
  color: #fff;
  text-align: center;
  background: #0077ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.project-title h3 {
  font-size: 1.5rem;
  position: relative;
  padding: 10px;
}

/* Contact */

.circle {
  
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #2A9B93;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px auto;
  flex-direction: column; /* stack child elements vertically */
  justify-content: center; /* center child elements vertically */
  border: 2px solid #fff;
}

.circle a {
    color: blue;
}

/* Footer */

footer {
  border-top: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: #2A9B93;
  z-index: 999; /* ensure footer appears on top of other content */
  display: flex;
  flex-direction: column; /* stack child elements vertically */
  justify-content: center; /* center child elements vertically */
  align-items: center;
}

footer p {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer a {
    color: blue;
}

.wrapper {
  overflow-y: auto;
  margin-bottom: 80px; /* add margin to bottom of wrapper to prevent content from being hidden behind the footer */
  margin-top: 20px;
  z-index: 2;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 55%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

/* Iframe */
iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Close Button */
.close {
  position: absolute;
  top: -8px;
  left: 3px;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}